<header>
<h4 class="loginAlert"> Logged In As <%= uniqueUser %> </h4>
  <body class="container">
  <div class="col s2 m4 l12 center">
    <img src="/images/cogwheel.png" class="cog">
    <img class="logo" src="/images/remindr.gif">
  </div>
</header>
