<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel='stylesheet' href='/sass/materialize.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Register</h1>
    <form action="/register" method="post">
      <label>Name</label>
      <%=  uniqueUser %>
      <label>Email</label>
      <input type="text" name="email" id="email">
      <label>Password</label>
      <input type="password" name="password" id="password">
      <h3>What things do you like to consume?</h3>
        <input class="category-box" type="checkbox" id="books-checkbox" name="books"/>
        <label for="books-checkbox">Books</label><br>
        <input class="category-box" type="checkbox" id="tv-checkbox" name="tv"/>
        <label for="tv-checkbox">TV</label><br>
        <input class="category-box" type="checkbox" id="movies-checkbox" name="movies"/>
        <label for="movies-checkbox">Movies</label><br>
        <input class="category-box" type="checkbox" id="videogames-checkbox" name="video games"/>
        <label for="videogames-checkbox">Video Games</label><br>
        <input type="submit">
    </form>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  </body>
</html>
