<!DOCTYPE html>
<html>
  <% include ../views/partials/head.ejs %>
  <body>
    <img class="logo" src="/images/remindr.gif">
    <h1 class="title"><%= title %></h1>
    <p class="slogan"> <%= slogan %></p>
    <div class="login">
    <a href="<%='/auth/login' %>"><button class="hp-button waves-effect waves-light btn-large"> Login </button> </a>
    </div>
    <div class="register">
      <a href="<%='/register' %>"><button class="hp-button waves-effect waves-light btn-large"> Register </button></a>
    </div>

    <% include ../views/partials/scripts.ejs %>
  </body>
</html>
