<!DOCTYPE html>
<html>
  <% include ./partials/head.ejs %>
  <body class="container">
    <h1 class="register-header">Register</h1>
    <form action="/register" method="post" class="register-form">
      <label>Name
      <input type="text" name="name" id="name"></label>
      <label>Email
      <input type="text" name="email" id="email"></label>
      <label>Password
      <input type="password" name="password" id="password"></label>
      <h4>What do you like to consume?</h4>
        <input class="category-box" type="checkbox" id="books-checkbox" name="books"/>
        <label for="books-checkbox">Books</label><br>
        <input class="category-box" type="checkbox" id="tv-checkbox" name="tv"/>
        <label for="tv-checkbox">TV</label><br>
        <input class="category-box" type="checkbox" id="movies-checkbox" name="movies"/>
        <label for="movies-checkbox">Movies</label><br>
        <input class="category-box" type="checkbox" id="videogames-checkbox" name="video games"/>
        <label for="videogames-checkbox">Video Games</label><br>
        <input class="category-box" type="checkbox" id="music-checkbox" name="music"/>
        <label for="music-checkbox">Music</label><br>
        <input class="category-box" type="checkbox" id="restaurants-checkbox" name="restaurants"/>
        <label for="restaurants-checkbox">Restaurants</label><br>
        <input class="category-box" type="checkbox" id="recipes-checkbox" name="recipes"/>
        <label for="recipes-checkbox">Recipes</label><br>
        <input class="category-box" type="checkbox" id="articles-checkbox" name="articles"/>
        <label for="articles-checkbox">Articles</label><br>
        <input type="submit" class="hp-button waves-effect waves-light btn-large">
    </form>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  </body>
</html>



