<html>
  <% include ../views/partials/head.ejs %>
<body>
<% include ../views/partials/header.ejs %>

  <% include ../views/partials/logout.ejs%>
  <div class="profilepic">

  </div>



    <% include ../views/partials/JH-2.ejs %>
    <% include ../views/partials/scripts.ejs %>
</body>


</html>
